:80 {
    # Reverse proxy for the go services with load balancing
    reverse_proxy /* {
        to DSy-go-service-2:8080 DSy-go-service-3:8080

        # Health checks
        health_path /health
        health_interval 3s
        health_timeout 1s
    }
}